@media only screen 
and (min-width: 320px) 
and (max-width: 359px) { 
body{
    background-image: url(../img/mainbg-smd.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 12px;
  position: relative;
  top: -10px;
  width: 70%;
}

span{
  padding:0;
  font-size: 18px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}


.toggle-btn{
  width: 120px;
}

.main-headline{
  margin-top: 10%;
  margin-left: 20px;
  padding: 20px;
  width: 80%;

}

h1.headline{
  font-size: 27px;
  line-height: 40px;
  margin-bottom: 10px;
}


a.headline-btn{
  font-size: 16px;
  padding: 8px 18px;
  text-decoration: none;
  color: black;
}

.devider1{
  height: 20px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 16px;
}

h2.hash{
  font-size: 14px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 100%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 14px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 20px 40px;
  font-size: 16px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 14px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 25px;
}

.person-item{
  width: 100%;
}

p.label, p.description{
  font-size: 14px;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}

@media only screen 
and (min-width: 360px) 
and (max-width: 392px) { 
body{
    background-image: url(../img/mainbg-smd.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 12px;
  padding-top: 0px;
}

span{
  padding:0;
  font-size: 18px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.toggle-btn{
  width: 180px;
}

.toggle-btn img{
  width: 15%;
}

.main-headline{
  margin-top: 10%;
  margin-left: 20px;
  padding: 40px;
  width: 80%;
}

h1.headline{
  font-size: 30px;
  line-height: 40px;
}

a.headline-btn{
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 18px;
}

h2.hash{
  font-size: 17px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 100%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 14px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 20px 40px;
  font-size: 16px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 14px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 25px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

p.label, p.description{
  font-size: 14px;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}

@media only screen 
and (min-width: 393px) 
and (max-width: 432px) { 
body{
    background-image: url(../img/mainbg-smd.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 12px;
}

span{
  padding:0;
  font-size: 18px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.main-headline{
  margin-top: 40%;
  margin-left: 0px;
  width: 80%;
  padding: 40px;
}

.toggle-btn{
  width: 180px;
}

.toggle-btn img{
  width: 15%;
}


h1.headline{
  font-size: 30px;
  line-height: 40px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
}

a.headline-btn{
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.devider1{
  height: 20px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 18px;
}

h2.hash{
  font-size: 17px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 100%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 14px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 20px 40px;
  font-size: 16px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 14px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 25px;
}

.person-item{
  width: 100%;
}

p.label, p.description{
  font-size: 14px;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}

@media only screen 
and (min-width: 433px) 
and (max-width: 540px) { 
body{
    background-image: url(../img/mainbg-smd.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 10px;
}

span{
  padding:0;
  font-size: 25px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.main-headline{
  margin-top: 40%;
  margin-left: 0px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 40px;
  line-height: 50px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
}

a.headline-btn{
  font-size: 20px;
  padding: 20px 30px;
  text-decoration: none;
  color: black;
}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 22px;
}

h2.hash{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 100%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 18px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 18px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 30px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}


@media only screen 
and (min-width: 541px) 
and (max-width: 599px) { 
body{
    background-image: url(../img/mainbg-smd.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 10px;
}

span{
  padding:0;
  font-size: 25px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.main-headline{
  margin-top: 40%;
  margin-left: 0px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 40px;
  line-height: 50px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 20px;
}

a.headline-btn{
  font-size: 20px;
  padding: 20px 30px;
  text-decoration: none;
  color: black;

}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 22px;
}

h2.hash{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 100%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 18px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 18px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 18px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 30px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}

@media only screen 
and (min-width: 600px) 
and (max-width: 768px) { 
body{
    background-image: url(../img/mainbg-med.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 40px;
}

span{
  padding:0;
  font-size: 25px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.main-headline{
  margin-top: 28%;
  margin-left: 30px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 50px;
  line-height: 70px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 20px;
}

a.headline-btn{
  font-size: 20px;
  padding: 20px 30px;
  text-decoration: none;
  color: black;

}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 30px;
}

h2.hash{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 80%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 20px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 18px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 35px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

p.label, p.description{
  font-size: 20px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}


/***FOOTER***/
    .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  

  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  

  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }

  .footer .gdpr{
    font-size: 14px;
  }
  
  .download{
    width: 180px;
  }
  /***FOOTER***/

}


@media only screen 
and (min-width: 769px) 
and (max-width: 834px) { 

  body{
    background-image: url(../img/mainbg-med.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 10px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 15px;
}

span{
  padding:0;
  font-size: 25px;
}

span.toggle-btn{
  float: right;
  margin-top: 15px;
}

.main-headline{
  margin-top: 15%;
  margin-left: 0px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 40px;
  line-height: 50px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 20px;
}

a.headline-btn{
  font-size: 20px;
  padding: 20px 30px;
  text-decoration: none;
  color: black;

}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 25px;
}

h2.hash{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 85%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 20px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 180px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 18px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 35px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 10px 30px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

p.label, p.description{
  font-size: 20px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding: 10px 0;
}

.partners-item{
  width: 100%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 30%;
}
    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 60%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}
    /***FOOTER***/
}

@media only screen 
and (min-width: 835px) 
and (max-width: 992px) { 
  body{
    background-image: url(../img/mainbg-med.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 12%;
  margin-right: 00px;
}


.logo-name{
  font-size: 22px;
  padding-top: 40px;
}

span{
  padding:0;
  font-size: 30px;
}

span img{
  width: 15%;
}

span.toggle-btn{
  float: right;
  margin-top: 30px;
}
.toggle-btn{
  margin-right: 10px;
}
.main-headline{
  margin-top: 30%;
  margin-left: 50px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 60px;
  line-height: 80px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 20px;
}

a.headline-btn{
  font-size: 22px;
  padding: 15px 25px;
  text-decoration: none;
  color: black;

}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 30px;
}

h2.hash{
  font-size: 25px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 50%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 20px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 210px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 20px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 45px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 30px 50px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

p.label, p.description{
  font-size: 20px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding-bottom: 30px;
  margin: 0 auto 0 50px;
}

.partners-item{
  width: 30%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 0%;
}


     /***FOOTER***/
    .footer .footer-logo{
        width: 16%;
      }
      
      .footer .footer-logo img{
        width: 110%;
        margin-left: 0;
        margin-top: 30px;
      }
      
      .footer .footer-left{
        margin-left: 40px;
      }
      .footer .footer-center{
        width: 38%;
        margin-left: -50px;
        margin-top: 0px;
      }
      
      .footer .footer-right{
        margin-left: 20px;
      }
      
      .footer .footer-center i {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 13px;
      }
      
      .footer .footer-center i.fa-envelope {
        font-size: 13px;
        line-height: 32px;
      }
      .footer .gdpr{
        font-size: 12px;
      }

      .footer .footer-links a,
      .footer .footer-center p,
      .download a{
        font-size: 13px;
      }
      
      .footer .footer-company,
      .copy {
        font-size: 10px;
      }
      
      .download{
        width: 180px;
      }
       /***FOOTER***/
}

@media only screen 
and (min-width: 993px) 
and (max-width: 1279px) { 
  body{
    background-image: url(../img/mainbg-med.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.hero{
  margin: 20px 15px;
}

.hero img{
  width: 15%;
  margin-right: 0px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 50px;
}

span{
  padding:0;
  font-size: 30px;
}

span img{
  width: 15%;
}

span.toggle-btn{
  float: right;
  margin-top: 45px;
}

.toggle-btn{
  margin-right: 10px;
}

.main-headline{
  margin-top: 30%;
  margin-left: 50px;
  width: 80%;
  padding: 40px;
}

h1.headline{
  font-size: 60px;
  line-height: 80px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 20px;
}

a.headline-btn{
  font-size: 22px;
  padding: 15px 25px;
  text-decoration: none;
  color: black;

}

.devider1{
  height: 40px;
}

.social{
  float: none;
  margin-right: 0px;
  text-align: center;
}

.social a{
  font-size: 30px;
}

h2.hash{
  font-size: 25px;
  width: 80%;
  margin: 0 auto;

}

/******HERO SECTION END*****/

 /***SERVICES****/
 .services-item{
  width: 50%;

}

.services{
  padding: 40px;
  margin: 10px;
}

.services p{
  font-size: 20px;
  padding: 20px 0 10px 0;
}

.block-one h2{
  padding: 30px 60px;
  font-size: 20px;
}

 /****IMAGE GALLERY****/

 #slideshow {
	margin: 0 auto;
	padding-top: 0px;
	height: 210px;
}

.entire-content{
  width: 200px;
}

.content-carrousel figure{
  height: 150px;
}

/***BLOCK-TWO****/
.block-two h2{
  font-size: 20px;
  line-height: 1.6;
}

h2.block-three-headline {
  font-size: 45px;
}

.person-item{
  width: 100%;
}

.personal-info{
  padding: 30px 50px;
}

h3.name{
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

p.label, p.description{
  font-size: 20px;
}

#banik{
  display: flex;
  flex-direction: column-reverse;
}

/* PARTNERS START */
.partners{
  padding-bottom: 30px;
  margin: 0 auto 0 50px;
}

.partners-item{
  width: 30%;
}

.partners-item h3{
  font-size: 40px;
  padding: 0 30px;
  width: 100%;
}

img.partner-logo{
  width: 100%;
}

img#uax{
  width: 40%;
  margin: 0 auto;
position: relative;
left: 0%;
}


     /***FOOTER***/
    .footer .footer-logo{
        width: 18%;
      }
      
      .footer .footer-logo img{
        width: 110%;
        margin-left: 0;
        margin-top: 30px;
      }
      
      .footer .footer-left{
        margin-left: 40px;
      }
      .footer .footer-center{
        width: 32%;
        margin-left: -50px;
        margin-top: 20px;
      }
      
      .footer .footer-right{
        margin-left: 20px;
      }
      
      .footer .footer-center i {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 15px;
      }
      
      .footer .footer-center i.fa-envelope {
        font-size: 15px;
        line-height: 32px;
      }
      
      .footer .footer-links a,
      .footer .footer-center p,
      .download a{
        font-size: 16px;
      }
      
      .footer .footer-company,
      .copy {
        font-size: 14px;
      }
      
      .download{
        width: 180px;
      }
       /***FOOTER***/
}

@media only screen 
and (min-width: 1280px) 
and (max-width: 1366px) {
body{
  background-image: url(../img/mainbg-med2.jpg);
  width: 100%;
  background-size: contain;
}

.hero{
  margin: 40px 15px;
}

.hero img{
  width: 10%;
  margin-right: 20px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 50px;
}

.toggle-btn{
width: 180px;
}

.toggle-btn img{
  width: 30%;
}
span{
  padding:0;
  font-size: 30px;
}

span img{
  width: 15%;
}

span.toggle-btn{
  float: right;
  margin-top: 30px;
}
  .main-headline{
    margin-top: 15%;
    margin-left: 120px;
}
  h1.headline{
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  .personal-info{
    padding: 0 40px;
  }

  p.label{
    font-size: 16px;
  }

  p.description{
font-size: 14px;
  }

  h3.name {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
  #uax{
    margin-left: 120px;
  }

  img#uax{
    width: 45%;
  }
    /***FOOTER***/
    .footer .footer-left{
        margin-left: 0px;
      }
      .footer .footer-company {
      margin-top: 50px;
      }
    /***FOOTER***/
}

@media only screen 
and (min-width: 1367px) 
and (max-width: 1440px) {
body{
  background-image: url(../img/mainbg-med2.jpg);
  width: 100%;
  background-size: contain;
}

.hero{
  margin: 40px 15px;
}

.hero img{
  width: 10%;
  margin-right: 20px;
}


.logo img{
  margin-left: 0px;
}

.logo-name{
  font-size: 25px;
  padding-top: 50px;
}

.toggle-btn{
width: 180px;
}

.toggle-btn img{
  width: 30%;
}
span{
  padding:0;
  font-size: 30px;
}

span img{
  width: 15%;
}

span.toggle-btn{
  float: right;
  margin-top: 30px;
}
  .main-headline{
    margin-top: 15%;
    margin-left: 120px;
}
  h1.headline{
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  .personal-info{
    padding: 0 40px;
  }

  #uax{
    margin-left: 120px;
  }

  img#uax{
    width: 45%;
  }
    /***FOOTER***/
    .footer .footer-left{
        margin-left: 0px;
      }
      .footer .footer-company {
      margin-top: 50px;
      }
    /***FOOTER***/
}

@media only screen 
and (min-width: 1500px) 
and (max-width: 1652px) {
  .hero{
    margin: 40px 15px;
  }
  
  .hero img{
    width: 10%;
    margin-right: 20px;
  }
  
  
  .logo img{
    margin-left: 0px;
  }
  
  .logo-name{
    font-size: 25px;
    padding-top: 50px;
  }
  
  .toggle-btn{
  width: 180px;
  }
  
  .toggle-btn img{
    width: 30%;
  }
  span{
    padding:0;
    font-size: 30px;
  }
  
  span img{
    width: 15%;
  }
  
  span.toggle-btn{
    float: right;
    margin-top: 30px;
  }
    /***FOOTER***/
    .footer .footer-left{
        margin-left: 80px;
      }
    /***FOOTER***/
}

/*FOOTER*/
@media all and (max-width: 814px) {
    .footer .footer-logo,
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
        display: block;
        width: 100%;
        margin-left: 0;
        margin: 20px auto;
        text-align: center;
    }
    
    .footer .footer-links a,
    .footer .footer-center p,
    .footer .gdpr span,
    .download a{
    font-size: 14px;
    }
  
  .footer .footer-logo{
    width: 50%;
  }
  
    .footer .footer-links a{
      display: inline-block;
    }
  
    .footer .footer-company,
    .copy {
      font-size: 10px;
    }
  
    .footer .footer-links,
    .footer .footer-company,
    .footer .gdpr span {
      text-align: center;
    }
  
  
  }