
@media only screen 
and (min-width: 320px) 
and (max-width: 359px) { 

  body{
    background-image: url(../img/banner-bg-sm.png);
  }

  .logo img{
    margin-left: 0px;
    width: 50%;
  }
  
  .toggle-btn {
    width: 90px;
    margin-top: 0px;
  }
  
  .toggle-btn img {
    width: 18%;
  }
  
  span{
    font-size: 15px;
  }

  .main-headline{
    margin-top: 3%;
    margin-left: 30px;
    width: 80%;
    padding: 20px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 30px;
    margin-top: -15%;
  }
  
  
  p.main-descp{
    padding-left: 50px;
    font-size: 16px;
    width: 80%;
  }

  .service-select{
    margin-top: 20px;
  }
  
  .service-select a {
    margin: 0 auto;
  padding: 8px 0;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 35px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}

.block-container {
  margin-bottom: 40px;
}


  .blockone{
    margin-top: 20px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 20px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 45%;
    margin-top: 50px;
    border-radius: 20px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 40px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 30px;
  }
  
  .blockthree-item h3, 
  .blockthree-item p{
    width: 80%;
    margin-left: 50px;
  }

  .blockthree-item a{
    margin-left: 50px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 25px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 140px;
    height: 100px;
  }

  .gallery{
    padding: 0;
  }

  .blockfive{
    margin-top: 20px;
  }

  .fiveitem-one img{
    width: 80%;
  }
  h4#five-descp {
    width: 85%;
}

  .blocksix-item h3{
    width: 90%;
    font-size: 18px;
  }
  
  .blockseven-item{
    width: 100%;
    padding: 30px;
  }

  .blocksix a#sell{
    font-size: 14px;
  }
  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 20px 0 20px;
}

  .blockeight p{
    font-size: 25px;
  }
  
  /***BLOCKS***/



/*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  h1.main-headline{
    margin-top: -20%;
  }

  p.main-descp {
    font-size: 15px;
    padding-left: 50px;
}

.tab-nav-container{
  background-color: rgb(255, 255, 255, 0.3);
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  a.tablinks {
    width: 150px;
    height: 100px;
    justify-content: center;
    min-width: none;
}


a.tablinks:hover{
    width: 150px;
    height: 100px;
}

  a.tablinks img{
    width: 90%;
  }

  .tooltiptext{
    left: -11%;
    font-size: 10px;
    padding: 5px;
    width: 80px;
  }

  .tabcontent{
    margin-top: 50px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }


  .main-head h1{
    font-size: 30px;
  }

  .main-head p{
    font-size: 16px;
  }

  .main-head img{
    width: 80%;
    margin-left: 40px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 14px;
    line-height: 1.6;

}
.tabitem-text h1{
  line-height: 1.4;
}
td{
  font-size: 12px;
}

.price-item a {
  font-size: 20px;
}

a#price-btn{
  font-size: 20px;
}

.price-small-item h2{
  font-size: 20px;
}

.price-small-item h3{
  font-size: 14px;
  width: 90%;
  line-height: 1.6;
  padding-bottom: 10px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/  

    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 60%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}


@media only screen 
and (min-width: 360px) 
and (max-width: 392px) { 

  body{
    background-image: url(../img/banner-bg-sm.png);
  }

  .logo img{
    margin-left: 0px;
    width: 50%;
  }
  
  .toggle-btn {
    width: 90px;
    margin-top: 0px;
  }
  
  .toggle-btn img {
    width: 18%;
  }
  
  span{
    font-size: 15px;
  }

  .main-headline{
    margin-top: 3%;
    margin-left: 30px;
    width: 80%;
    padding: 20px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 30px;
  }
  
  
  p.main-descp{
    padding-left: 50px;
    font-size: 16px;
    width: 80%;
  }

  .service-select{
    margin-top: 20px;
  }
  
  .service-select a {
    margin: 0 auto;
  padding: 10px;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 30px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}

.block-container {
  margin-bottom: 40px;
}

.blockone{
    margin-top: 20px;
  }

.blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

.blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 20px;
  }

  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 45%;
    margin-top: 50px;
    border-radius: 20px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 40px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 30px;
  }
  
.blockthree-item h3{
  font-size: 18px;
}

  .blockthree-item h3, 
  .blockthree-item p{
    width: 80%;
    margin-left: 50px;

  }

  .blockthree-item a{
    margin-left: 50px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

ul.event {
  margin-top: 0;
    margin-bottom: 40px;
    font-size: 10px;
    margin-left: 20px;
    width: 80%;
}


  .pics{
   margin-left: 25px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 150px;
    height: 110px;
  }

  .gallery{
    padding: 0;
  }

  .gallery-item{
    width: 100%;
  }

  .blockfive{
    margin-top: 20px;
  }

  .fiveitem-one img{
    width: 80%;
  }
  h4#five-descp {
    width: 85%;
}

.blocksix-item, .blocknine-item{
  padding: 20px 50px;
}

  .blocksix-item h3, .blocknine-item h3{
    width: 90%;
    font-size: 15px;
  }
  
  .blockseven-item{
    width: 100%;
    padding: 30px;
  }

  .blocksix a#sell{
    font-size: 14px;
  }
  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 50px 0 50px;
}

  .blockeight p{
    font-size: 20px;
    margin: 40px 50px 10px 50px;
  }
  
  
  /***BLOCKS***/



/*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  h1.main-headline{
    margin-top: -20%;
  }

  p.main-descp {
    font-size: 15px;
    padding-left: 50px;
}

.tab-nav-container{
  background-color: rgb(255, 255, 255, 0.3);
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  a.tablinks {
    width: 150px;
    height: 100px;
    justify-content: center;
    min-width: none;
}


a.tablinks:hover{
    width: 150px;
    height: 100px;
}

  a.tablinks img{
    width: 90%;
  }

  .tooltiptext{
    left: -11%;
    font-size: 10px;
    padding: 5px;
    width: 80px;
  }

  .tabcontent{
    margin-top: 50px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .tabitem-text h1{
    line-height: 1.4;
  }
  td{
    font-size: 12px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }


  .main-head h1{
    font-size: 35px;
  }

  .main-head p{
    font-size: 16px;
  }

  .main-head img{
    width: 80%;
    margin-left: 40px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 14px;
    line-height: 1.6;

}

.price-item a {
  font-size: 20px;
}

a#price-btn{
  font-size: 20px;
}

.price-small-item h2{
  font-size: 20px;
}

.price-small-item h3{
  font-size: 14px;
  width: 90%;
  line-height: 1.6;
  padding-bottom: 10px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/


    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 60%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}


@media only screen 
and (min-width: 393px) 
and (max-width: 432px) { 

  body{
    background-image: url(../img/banner-bg-sm.png);
  }

  .logo img{
    margin-left: 0px;
    width: 60%;
  }
  
  .toggle-btn {
    width: 100px;
    margin-top: 10px;
  }
  
  .toggle-btn img {
    width: 20%;
  }
  
  span{
    font-size: 17px;
  }

  .main-headline{
    margin-top: 0%;
    margin-left: 30px;
    width: 80%;
    padding: 0px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 40px;
  }
  
  
  p.main-descp{
    padding-left: 50px;
    font-size: 16px;
    width: 80%;
  }

  .service-select{
    margin-top: 20px;
  }
  
  .service-select a {
    margin: 0 auto;
  padding: 10px;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 40px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}

.block-container {
  margin-bottom: 50px;
}


  .blockone{
    margin-top: 20px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 20px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 45%;
    margin-top: 50px;
    border-radius: 20px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 60px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 30px;
  }
  
  .blockthree-item h3, 
  .blockthree-item p{
    width: 80%;
    margin-left: 50px;
  }

  .blockthree-item a{
    margin-left: 50px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 35px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 160px;
    height: 110px;
  }

  .gallery{
    padding: 0;
  }

  .gallery-item{
    width: 100%;
  }

  .blockfive{
    margin-top: 20px;
  }

  .fiveitem-one img{
    width: 80%;
  }
  h4#five-descp {
    width: 85%;
}

  .blocksix-item h3, .blocknine-item h3{
    width: 90%;
    font-size: 18px;
  }
  
  .blockseven-item{
    width: 100%;
  }

  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 50px 0 50px;
}

  .blockeight p{
    font-size: 22px;
    margin: 50px auto 20px;
  }
  
  
  /***BLOCKS***/



    /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  h1.main-headline{
    margin-top: -15%;
  }

  p.main-descp {
    font-size: 15px;
    padding-left: 50px;
}

.tab-nav-container{
  background-color: rgb(255, 255, 255, 0.3);
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  a.tablinks {
    width: 150px;
    height: 100px;
    justify-content: center;
    min-width: none;
}


a.tablinks:hover{
    width: 150px;
    height: 100px;
}

  a.tablinks img{
    width: 90%;
  }

  .tooltiptext{
    left: -11%;
    font-size: 10px;
    padding: 5px;
    width: 80px;
  }

  .tabcontent{
    margin-top: 50px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .tabitem-text h1{
    line-height: 1.4;
  }
  td{
    font-size: 12px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }


  .main-head h1{
    font-size: 35px;
  }

  .main-head p{
    font-size: 16px;
  }

  .main-head img{
    width: 80%;
    margin-left: 40px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 14px;
    line-height: 1.8;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

.price-small-item h2{
  font-size: 22px;
}

.price-small-item h3{
  font-size: 16px;
  width: 90%;
  line-height: 1.6;
  padding-bottom: 10px;
}

ul.event{
  margin-left: 20px;
}



   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/


    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 60%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}


@media only screen 
and (min-width: 433px) 
and (max-width: 540px) { 

  body{
    background-image: url(../img/banner-bg-sm.png);
  }

  .logo img{
    margin-left: 0px;
    width: 50%;
  }
  
  .toggle-btn {
    width: 100px;
    margin-top: 10px;
  }
  
  .toggle-btn img {
    width: 20%;
  }
  
  span{
    font-size: 17px;
  }
  

  .main-headline{
    margin-top: 0%;
    margin-left: 30px;
    width: 80%;
    padding: 0px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 40px;
  }
  
  
  p.main-descp{
    padding-left: 50px;
    font-size: 16px;
    width: 80%;
  }

  .service-select{
    margin-top: 20px;
  }
  
  .service-select a {
    margin: 0 auto;
  
    font-size: 12px;
  }

  .service-head h2{
    font-size: 40px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}

.block-container {
  margin-bottom: 50px;
}


  .blockone{
    margin-top: 20px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 20px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 45%;
    margin-top: 50px;
    border-radius: 20px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 60px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 30px;
  }
  
  .blockthree-item h3, 
  .blockthree-item p{
    width: 80%;
    margin-left: 50px;
  }

  .blockthree-item a{
    margin-left: 50px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 35px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 180px;
    height: 120px;
  }

  .gallery{
    padding: 0;
  }

  .gallery-item{
    width: 100%;
  }

  .blockfive{
    margin-top: 20px;
  }

  .fiveitem-one img{
    width: 80%;
  }
  h4#five-descp {
    width: 85%;
}

  .blocksix-item h3, .blocknine-item h3{
    width: 90%;
    font-size: 18px;
  }
  
  .blockseven-item{
    width: 100%;
  }

  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 50px 0 50px;
}

  .blockeight p{
    font-size: 25px;
  }

  ul.event{
    margin-left: 20px;
  }

  /***BLOCKS***/



  /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  h1.main-headline{
    margin-top: 0%;
  }

  p.main-descp {
    font-size: 15px;
    padding-left: 50px;
}

.tab-nav-container{
  background-color: rgb(255, 255, 255, 0.3);
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  a.tablinks {
    width: 150px;
    height: 130px;
    justify-content: center;
    min-width: none;
}


a.tablinks:hover{
    width: 150px;
    height: 130px;
}

  a.tablinks img{
    width: 90%;
  }

  .tooltiptext{
    left: -3%;
    font-size: 12px;
  }

  .tabcontent{
    margin-top: 50px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 14px;
    line-height: 1.8;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

.price-small-item h2{
  font-size: 22px;
}

.price-small-item h3{
  font-size: 16px;
  width: 90%;
  line-height: 1.6;
  padding-bottom: 10px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/


    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 50%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}


@media only screen 
and (min-width: 541px) 
and (max-width: 599px) { 

  body{
    background-image: url(../img/banner-bg-sm.png);
  }

  .logo img{
    margin-left: 0px;
    width: 50%;
  }
  
  .toggle-btn {
    width: 110px;
    margin-top: 10px;
  }
  
  .toggle-btn img {
    width: 20%;
  }
  
  span{
    font-size: 20px;
  }

  .main-headline{
    margin-top: 0%;
    margin-left: 50px;
    width: 80%;
    padding: 20px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 55px;
  }
  
  
  p.main-descp{
    padding-left: 70px;
    font-size: 15px;
    width: 70%;
  }

  .service-select{
    margin-top: 20px;
  }
  
  .service-select a {
    margin: 0 auto;
  
    padding: 15px 5px;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 40px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}

.block-container {
  margin-bottom: 50px;
}


  .blockone{
    margin-top: 20px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 20px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 35%;
    margin-top: 50px;
    border-radius: 30px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 80px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 30px;
  }
  
  .blockthree-item h3, 
  .blockthree-item p{
    margin-left: 70px;
    width: 80%;
  }

  .blockthree-item a{
    margin-left: 70px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 50px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 230px;
    height: 160px;
  }

  .gallery{
    padding: 0;
  }

  .gallery-item{
    width: 45%;
  }

  ul.event{
    margin-left: 30px;
  }
  .blockfive{
    margin-top: 20px;
  }
  h4#five-descp {
    width: 85%;
}

  .blocksix-item h3, .blocknine-item h3{
    width: 90%;
    font-size: 18px;
  }
  
  .blockseven-item{
    width: 100%;
  }

  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 50px 0 50px;
}

  .blockeight p{
    font-size: 25px;
  }
  
  /***BLOCKS***/



/*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp {
    font-size: 15px;
    padding-left: 70px;
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  a.tablinks {
    width: 150px;
    height: 130px;
    justify-content: center;
    min-width: none;
}


a.tablinks:hover{
    width: 150px;
    height: 130px;
}

  a.tablinks img{
    width: 90%;
  }

  .tooltiptext{
    left: -3%;
    font-size: 12px;
  }

  .tabcontent{
    margin-top: 50px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 14px;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/

/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/


p.bazar-descp{
font-size: 14px;
width: 85%;
margin-bottom: 60px;
}



h1#news-head{
  font-size: 60px;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 50px 50px 50px 30px;
  font-size: 25px;
  line-height: 1.6;
  background-color: rgb(255,255,255,0.5);
  border-radius: 80px 0 0 80px;



}

.news-descp {
  padding-left: 0px;
}

.news-descp h2{
  font-size: 25px;
}

.news-card {
  width: 85%;
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 15%;
}

.news-item{
  width: 100%;
}

.news-item img{
  margin-top: 25px;
}

.news-descp p {
  width: 100%;
}

.bazar-container{
  width: 100%;
}
.cal-card h2 {
  font-size: 30px;
}

a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/  

    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 50%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}


@media only screen 
and (min-width: 600px) 
and (max-width: 768px) { 

  body{
    background-image: url(../img/banner-bg-med.png);
  }

  .logo img{
    margin-left: 0px;
    width: 50%;
  }
  
  .toggle-btn {
    width: 115px;
    margin-top: 15px;
  }
  
  .toggle-btn img {
    width: 25%;
  }
  
  span{
    font-size: 20px;
  }

  .main-headline{
    margin-top: -15%;
    margin-left: 50px;
    width: 80%;
    padding: 0px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 45px;
  }
  
  
  p.main-descp{
    padding-left: 70px;
    font-size: 16px;
    width: 80%;
  }
  
  .service-select a {
    margin: 0 auto;
  
    padding: 15px 5px;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 40px;
  }
  
  /***MAIN***/
  ul.event{
    margin-left: 30px;
  }
  /***BLOCKS***/
p{
  font-size: 16px;
}
  .blockone{
    margin-top: 50px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 50px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 35%;
    margin-top: 50px;
    border-radius: 30px;
  }

  .blocktwo-item p, .blocktwo-item a {
    margin-left: 80px;
}
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 40px;
  }
  
  .blockthree-item h3, 
  .blockthree-item p{
    margin-left: 70px;
    width: 80%;
  }

  .blockthree-item a{
    margin-left: 70px;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 50px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 260px;
    height: 170px;
  }

  .gallery{
    padding: 0;
  }

  .gallery-item{
    width: 45%;
  }

  h4#five-descp {
    width: 85%;
}

  .blocksix-item h3, .blocknine-item h3{
    font-size: 18px;
  }
  
  .blockseven-item{
    width: 100%;
  }

  .blockseven-item img {
    width: 100%;
    margin: 0 auto;
  }

.blockseven-item p {
    margin: 10% 50px 0 50px;
}

  .blockeight p{
    font-size: 25px;
  }
  
  /***BLOCKS***/


  
    /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp {
    font-size: 16px;
    padding-left: 70px;
}

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  .tooltiptext{
    left: 0%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;

  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-sm.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 90%;
    font-size: 16px;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/

/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 40px;
  margin-top: -30px;
}

p.bazar-descp{
font-size: 14px;
width: 85%;
margin-bottom: 70px;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50 30px;
  font-size: 25px;
}

.news-descp {
  padding-left: 0px;
}

.news-descp h2{
  font-size: 25px;
}

.news-card {
  width: 85%;
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 15%;
}

.news-item{
  width: 100%;
}

.news-item img{
  margin-top: 25px;
}

.news-descp p {
  width: 100%;
}

.bazar-container{
  width: 100%;
}
.cal-card h2 {
  font-size: 30px;
}

a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/

    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 50%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}

@media only screen 
and (min-width: 769px) 
and (max-width: 834px) { 

  body{
    background-image: url(../img/banner-bg-med.png);
  }

  .logo img{
    margin-left: 0px;
    width: 40%;
  }
  
  .toggle-btn {
    width: 120px;
    margin-top: 20px;
  }
  
  .toggle-btn img {
    width: 25%;
  }
  
  span{
    font-size: 20px;
  }

  .main-headline{
    margin-top: -10%;
    margin-left: 50px;
    width: 80%;
    padding: 00px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 70px;
  }
  
  h1.headline{
    font-size: 50px;
    line-height: 80px;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
    margin-bottom: 0px;
  }
  
  p.main-descp{
    padding-left: 80px;
    font-size: 18px;
    width: 80%;
  }
  
  .service-select a {
  
    padding: 15px 5px;
    font-size: 12px;
  }

  .service-head h2{
    font-size: 45px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
p{
  font-size: 16px;
}
  .blockone{
    margin-top: 50px;
  }
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }



  .blockone-item img{
    width: 80%;
  }
  
  .blocktwo{
    margin-top: 50px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 35%;
    margin-top: 50px;
  }
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 40px;
  }
  
  .blockthree-item h3, .blockthree-item p{
    width: 80%;
  }


  
  .blockthree-item img {
    width: 30%;
    margin-left: 0px;
  }

  .pics{
   margin-left: 70px;
  }
  
  
  
  .gallery-item img{
    padding: 0;
    width: 330px;
    height: 250px;
  }

  .gallery-item{
    width: 45%;
    padding: 0 5px;
  }
  .blocksix-item h3, .blocknine-item h3{
    font-size: 20px;
  }
  
  .blockseven-item img {
    width: 90%;
  }

  .blockseven-item p{
    margin-top: 10%;
    margin-left: 70px;
  }
  
  .blockeight p{
    font-size: 25px;
  }
  
  
  
  
  
  /***BLOCKS***/


    /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 18px;
    padding-left: 80px;
  }

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  .tooltiptext{
    left: -30%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
  }

.tabitem{
  width: 100%;
}
  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-med.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 80%;
    font-size: 16px;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/


  /*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 55px;
  margin-top: 0px;
}

p.bazar-descp{
font-size: 16px;
width: 80%;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50px 50px;
  font-size: 30px;
}

.news-descp {
  padding-left: 50px;
}

.news-descp h2{
  font-size: 25px;
}

.news-card {
  width: 85%;
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 15%;
}

.news-item img{
  margin-top: 25px;
}

.bazar-container{
  width: 100%;
}
.cal-card h2 {
  font-size: 35px;
}

a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/

    /***FOOTER***/
    .footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 50%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.footer .footer-center a
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

a.reference{
  font-size: 10px;
}
    /***FOOTER***/
}

@media only screen 
and (min-width: 835px) 
and (max-width: 992px) { 
  body{
    background-image: url(../img/banner-bg-med.png);
  }

  .logo img{
    margin-left: 0px;
    width: 35%;
  }
  
  .toggle-btn {
    width: 130px;
    margin-top: 15px;
  }
  
  .toggle-btn img {
    width: 23%;
  }
  
  span{
    font-size: 20px;
  }
  

  .main-headline{
    margin-top: -5%;
    margin-left: 50px;
    width: 80%;
    padding: 0px 20px 0 20px;
  }

  h1.main-headline{
    font-size: 70px;
  }
  
  h1.headline{
    font-size: 50px;
    line-height: 80px;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
    margin-bottom: 0px;
  }
  
  p.main-descp{
    padding-left: 80px;
    font-size: 18px;
    width: 80%;
  }
  
  .service-select a {
  
    padding: 15px;
    font-size: 13px;
  }
  
  /***MAIN***/
  
  /***BLOCKS***/
  .blockone-item {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }
  
  .blocktwo{
    margin-top: 50px;
  }
  .blocktwo-item {
    width: 90%;
    margin-top: 50px;
  }
  
  .blocktwo-item img {
    margin: 0 auto;
    width: 35%;
    margin-top: 50px;
  }
  
  #blocktwoid{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .blockthree{
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  
  .blockthree-item {
    width: 100%;
    margin-top: 40px;
  }
  
  .blockthree-item h3, .blockthree-item p{
    width: 80%;
  }
  
  .blockthree-item img {
    width: 20%;
    margin-left: 100px;
  }
  
  .gallery-item img{
    padding: 0;
  }

  .gallery-item{
    width: 45%;
  }

  
  .blockseven-item p{
    margin-top: 10%;
  }
  
  .blockeight p{
    font-size: 30px;
  }

  
  /***BLOCKS***/

  /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 18px;
    padding-left: 80px;
  }

  .slick-itm{
    width: 30%;
    height: 100px;
  }

  .tooltiptext{
    left: -30%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

.tabitem{
  width: 100%;
}


  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-med.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 80%;
    font-size: 16px;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/



/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 60px;
  margin-top: 0px;
}

p.bazar-descp{
font-size: 18px;
width: 70%;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50px 50px;
  font-size: 35px;
}

.news-descp {
  padding-left: 50px;
}

.news-descp h2{
  font-size: 25px;
}

.news-card {
  width: 85%;
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 15%;
}

.news-item img{
  margin-top: 25px;
}


.cal-card h2 {
  font-size: 35px;
}

a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/


     /***FOOTER***/

    .footer .footer-logo{
        width: 18%;
      }
      
      .footer .footer-logo img{
        width: 110%;
        margin-left: 0;
        margin-top: 30px;
      }
      
      .footer .footer-left{
        margin-left: 40px;
      }
      .footer .footer-center{
        width: 38%;
        margin-left: -50px;
        margin-top: 20px;
      }
      
      .footer .footer-right{
        margin-left: 20px;
      }
      
      .footer .footer-center i {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 15px;
      }
      
      .footer .footer-center i.fa-envelope {
        font-size: 15px;
        line-height: 32px;
      }
      
      .footer .footer-links a,
      .footer .footer-center p,
      .footer-center a,
      .download a{
        font-size: 14px;
      }
      
      .footer .footer-company,
      .copy {
        font-size: 14px;
      }
      
      .download{
        width: 180px;
      }

      a.reference {
        font-size: 14px;
    }
       /***FOOTER***/
}

@media only screen 
and (min-width: 993px) 
and (max-width: 1279px) { 
body{
  background-image: url(../img/banner-bg-med.png);
}
.logo img{
  margin-left: 0px;
  width: 34%;
}

.toggle-btn img {
  width: 20%;
}

span{
  font-size: 20px;
}

.main-headline{
  margin-top: -3%;
  margin-left: 50px;
  width: 80%;
  padding: 00px 20px 0 20px;
}

h1.headline{
  font-size: 50px;
  line-height: 80px;
  filter: drop-shadow(3px 3px 3px rgb(0,0,0) );
  margin-bottom: 0px;
}

p.main-descp{
  padding-left: 80px;
  font-size: 18px;
  width: 80%;
}

.service-select a {

  padding: 15px;
  font-size: 13px;
}

/***MAIN***/

/***BLOCKS***/
.blockone-item {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

.blocktwo{
  margin-top: 50px;
}
.blocktwo-item {
  width: 90%;
  margin-top: 50px;
}

.blocktwo-item img {
  margin: 0 auto;
  width: 35%;
  margin-top: 50px;
}

#blocktwoid{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.blockthree{
  flex-direction: column-reverse;
  margin-top: 30px;
}

.blockthree-item {
  width: 100%;
  margin-top: 40px;
}

.blockthree-item h3, .blockthree-item p{
  width: 80%;
}

.blockthree-item img {
  width: 20%;
  margin-left: 100px;
}

.gallery-item img{
  padding: 0;
}

.gallery-item{
  width: 45%;
}

.blockseven-item p{
  margin-top: 10%;
}

.blockeight p{
  font-size: 30px;
}


/***BLOCKS***/


/*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 18px;
    padding-left: 80px;
  }

  .slick-itm{
    width: 20%;
    height: 100px;
  }

  .tooltiptext{
    left: -10%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
  }


  .tabitem-text {
    margin-left: 40px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }
  .price-list{
    background-image: url(../img/price-banner-med.jpg);
  }
  .price-small{
    width: 90%;
  }

  .price-item {
    width: 80%;
    font-size: 16px;

}

.price-item a {
  font-size: 25px;
}

a#price-btn{
  font-size: 20px;
}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/

/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 75px;
  margin-top: 50px;
}

p.bazar-descp{
font-size: 18px;
width: 70%;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50px 50px;
  font-size: 35px;
}

.news-descp {
  padding-left: 50px;
}

.news-descp h2{
  font-size: 30px;
}

.news-card {
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 12%;
}

.news-item img{
  margin-top: 25px;
}


a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/


     /***FOOTER***/
     .footer{
       font-size: 14px;
     }
    .footer .footer-logo{
        width: 18%;
      }
      
      .footer .footer-logo img{
        width: 110%;
        margin-left: 0;
        margin-top: 30px;
      }
      
      .footer .footer-left{
        margin-left: 40px;
      }
      .footer .footer-center{
        width: 35%;
        margin-left: -50px;
        margin-top: 0px;
      }
      
      .footer .footer-right{
        margin-left: 20px;
      }
      
      .footer .footer-center i {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 15px;
      }
      
      .footer .footer-center i.fa-envelope {
        font-size: 15px;
        line-height: 32px;
      }
      
      .footer .footer-links a,
      .footer .footer-center p,
      .download a{
        font-size: 16px;
      }
      
      .footer .footer-company,
      .copy {
        font-size: 14px;
      }
      
      .download{
        width: 180px;
      }

      a.reference {
        font-size: 14px;
    }
       /***FOOTER***/
}

@media only screen 
and (min-width: 1280px) 
and (max-width: 1366px) {

  .logo img{
    width: 25%;
    margin-left: 0px;
  }
  
  .toggle-btn img {
    width: 22%;
  }
  
  span{
    font-size: 22px;
  }
  /*****MAIN*****/
  .main-headline{
    margin-top: -3%;
  }


  h1.main-headline{
    font-size: 70px;
  }

  p.main-descp{
    font-size: 20px;
    width: 80%;
  }

  .service-select a{
    font-size: 13px;
    padding: 20px 10px;
  }

  .service-head h2{
    font-size: 50px;
  }

  .gallery-item img {
    width: 280px;
    height: 220px;
}

  .blockone, .blocktwo, .blockthree{
    margin-top: 80px;
  }

  .blocksix-item h3{
    font-size: 20px;
  }
  .blockeight p {
    font-size: 30px;
  }
  /*****MAIN*****/


/*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 18px;
  }

  .slick-itm{
    width: 20%;
    height: 100px;
  }

  .tooltiptext{
    left: -40%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
  }


  .tabitem-text {
    margin-left: 80px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }

  .price-item {
    width: 80%;
    font-size: 18px;

}

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 70px;
  margin-top: -40px;
}

p.bazar-descp{
font-size: 18px;
width: 70%;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50px 50px;
  font-size: 45px;
}

.cal-card{
top: 25%;
}



a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/


    /***FOOTER***/
    .footer .footer-left{
        margin-left: 0px;
      }
      .footer .footer-company {
      margin-top: 50px;
      }

      .footer .footer-center{
        width: 30%;
      }
    /***FOOTER***/
}

@media only screen 
and (min-width: 1367px) 
and (max-width: 1499px) {

  .logo img{
    margin-left: 0px;
    width: 25%;
  }
  
  .toggle-btn{
    width: 160px;
  }

  .toggle-btn img {
    width: 20%;
  }
  
  span{
    font-size: 20px;
  }
  /*****MAIN*****/
  .main-headline{
    margin-top: -3%;
  }


  h1.main-headline{
    font-size: 70px;
  }

  p.main-descp{
    font-size: 20px;
    width: 80%;
  }

  .service-select a{
    font-size: 13px;
    padding: 20px 10px;
  }

  .service-head h2{
    font-size: 50px;
  }

  .gallery-item img {
    width: 300px;
    height: 240px;
  }

  .blockone, .blocktwo, .blockthree{
    margin-top: 80px;
  }
  .blockeight p {
    font-size: 35px;
  }
  /*****MAIN*****/


 /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 22px;
  }

  .slick-itm{
    width: 20%;
    height: 100px;
  }

  .tooltiptext{
    left: -40%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
  }


  .tabitem-text {
    margin-left: 80px;
  }

  .main-head p{
    width: 90%;
  }

  .main-head{
    margin-top: 50px;
  }

   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/

/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
  h1.bazar-headline {
    font-size: 80px;
    margin-top: -35px;
}

p.bazar-descp{
  font-size: 18px;
  width: 70%;
}

.news-descp p{
  font-size: 16px;
}

.newest h1 {
  padding: 0px 80px 30px 80px;
}

.cal-card{
  top: 25%;
}


a.cal-btn {
  color: #ffffff;
  padding: 20px 50px;
  font-size: 22px;
}


  /*****NOVINKY*****/
  /*****NOVINKY*****/
  /*****NOVINKY*****/


  
    /***FOOTER***/
    .footer .footer-left{
        margin-left: 0px;
      }
      .footer .footer-company {
      margin-top: 50px;
      }
    /***FOOTER***/
}

@media only screen 
and (min-width: 1500px) 
and (max-width: 1652px) {

  .logo img{
    margin-left: 0px;
    width: 25%;
  }

  .toggle-btn img {
    width: 20%;
}
  
  span{
    font-size: 20px;
  }
  

  /*****MAIN*****/
  .main-headline{
    margin-top: -4%;
  }

  /*****MAIN*****/


  /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/
  p.main-descp{
    font-size: 22px;
  }

  .slick-itm{
    width: 20%;
    height: 100px;
  }

  .tooltiptext{
    left: -40%;
  }

  .tabcontent{
    margin-top: 120px;
    margin-bottom: 30px;
  }


  .tabitem-text {
    margin-left: 80px;
  }

  .main-head p{
    width: 90%;
  }
.main-head{
    margin-top: 50px;
  }



   /*****MOTORKY*****/
  /*****MOTORKY*****/
  /*****MOTORKY*****/

   /*****NOVINKY*****/
  /*****NOVINKY*****/
  /*****NOVINKY*****/
  h1.bazar-headline {
    font-size: 85px;
}

.baz-item{
  margin:0 10px 60px 0;
}

p.bazar-descp{
  font-size: 18px;
}

.news-descp p{
  font-size: 16px;
}

.cal-card{
  top: 20%;
}


     /*****NOVINKY*****/
  /*****NOVINKY*****/
  /*****NOVINKY*****/


    /***FOOTER***/
    .footer .footer-left{
        margin-left: 80px;
      }
    /***FOOTER***/
}

/*FOOTER*/
@media all and (max-width: 814px) {
    .footer .footer-logo,
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
        display: block;
        width: 100%;
        margin-left: 0;
        margin: 20px auto;
        text-align: center;
    }
    
    .footer .footer-links a,
    .footer .footer-center p,
    .footer .gdpr span,
    .download a{
    font-size: 14px;
    }
  
  .footer .footer-logo{
    width: 50%;
  }
  
    .footer .footer-links a{
      display: inline-block;
    }
  
    .footer .footer-company,
    .copy {
      font-size: 10px;
    }
  
    .footer .footer-links,
    .footer .footer-company,
    .footer .gdpr span {
      text-align: center;
    }
  
  
  }