/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/
h1.bazar-headline {
  font-size: 40px;
  margin-top: -30px;
}

p.bazar-descp{
font-size: 14px;
width: 85%;
margin-bottom: 70px;
}

.news-descp p{
font-size: 15px;
}

.newest h1 {
  padding: 0px 50px 50 30px;
  font-size: 25px;
}

.news-descp {
  padding-left: 0px;
}

.news-descp h2{
  font-size: 25px;
}

.news-card {
  width: 85%;
  padding: 30px 30px 50px 30px;
}

.cal-card{
top: 15%;
}

.news-item{
  width: 100%;
}

.news-item img{
  margin-top: 25px;
}

.news-descp p {
  width: 100%;
}

.bazar-container{
  width: 100%;
}
.cal-card h2 {
  font-size: 30px;
}

a.cal-btn {
color: #ffffff;
padding: 20px 50px;
font-size: 22px;
}


/*****NOVINKY*****/
/*****NOVINKY*****/
/*****NOVINKY*****/