/*****KONTAKT*****/
/*****KONTAKT*****/
/*****KONTAKT*****/

.contact-headline{
  margin-top: 0;
  padding-bottom: 0;
}

#contact-info{
  width: 90%;
  margin-top: -220px;
  background-color: rgb(41, 41, 41, 0.01);
}

.contact-headline img{
 z-index: -2;
 position: relative;
 opacity: 0.2;
 left: 50%;
}

.contact-item h2{
  font-size: 14px;
}

.contact-item p, #contact-info a{
  font-size: 10px;
}

.info-social{
  height: 120px;
}

.info-social a i{
  font-size: 18px;
}

h3.info-hash{
  font-size: 13px;
  color: black;
}

.form-headline{
  font-size: 18px;
  padding: 0;
  line-height: 1.6;
}

#weare h2{
  font-size: 30px;
}

.personal-info{
  padding-left: 40px;
  padding-bottom: 40px;
}

h3.name{
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
p.description{
  font-size: 12px;
}

.person-item{
  width: 100%;
}

#banik{
  flex-direction: column-reverse;
}

.formcard{
  width: 90%;
}


label{
  font-size: 16px;
}
i#form-icon{
  font-size: 30px;
}

/*****KONTAKT*****/
/*****KONTAKT*****/
/*****KONTAKT*****/